<h1>Listing macroposts</h1>

<table>
  <tr>
    <th>Content</th>
    <th>False</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @macroposts.each do |macropost| %>
  <tr>
    <td><%= macropost.content %></td>
    <td><%= macropost.false_id %></td>
    <td><%= link_to 'Show', macropost %></td>
    <td><%= link_to 'Edit', edit_macropost_path(macropost) %></td>
    <td><%= link_to 'Destroy', macropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Macropost', new_macropost_path %>
